<div class="footer-container" id="footer-container">
  <!-- <h1 class="bg-slate-800 text-xl min-h-800">Footer Area</h1> -->
  <div class="bg-purple-500 text-xl h-80   block">
    <h1>Footer Area</h1>

  </div>




</div>
</body>

</html>